.type {
    font-size: 30px;
    padding: 4px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
    text-transform: capitalize;
}

.type-normal {
    background-color: #a8a878;
}
.type-fire {
    background-color: #f08030;
}
.type-water {
    background-color: #6890f0;
}
.type-electric {
    background-color: #f8d030;
}
.type-grass {
    background-color: #78c850;
}
.type-ice {
    background-color: #98d8d8;
}
.type-fighting {
    background-color: #c03028;
}
.type-poison {
    background-color: #a040a0;
}
.type-ground {
    background-color: #e0c068;
}
.type-flying {
    background-color: #a890f0;
}
.type-psychic {
    background-color: #f85888;
}
.type-bug {
    background-color: #a8b820;
}
.type-rock {
    background-color: #b8a038;
}
.type-ghost {
    background-color: #705898;
}
.type-dragon {
    background-color: #7038f8;
}
.type-dark {
    background-color: #705848;
}
.type-steel {
    background-color: #b8b8d0;
}
.type-fairy {
    background-color: #ee99ac;
}

.d_hidden {
    display: none;
}

.pokeball-loader {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background: linear-gradient(to bottom, red 50%, white 50%);
    position: relative;
    animation: spin 1s linear infinite;
    margin-left: 8px;
    display: inline-block;
}

.pokeball-loader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
