* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 10px;
    font-family: nunito;
}
@font-face {
    font-family: "nunito";
    src: url(/Pokedex/assets/fonts/Nunito-VariableFont_wght.ttf);
}
body {
    background-color: #a8a8a8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    background-color: #ff1c1c;
    color: white;
    height: 8dvh;
    width: 100%;
    .headerImage {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    h1 {
        font-size: 60px;
    }
    img {
        height: 6dvh;
    }
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.pokemon {
    cursor: pointer;
    height: 48rem;
    width: 32rem;
    background-color: #1e1e1e;
    border-radius: 15px;
    padding-top: 4.8rem;
    margin: 1.6rem;
    .pokeImage {
        img {
            height: 32rem;
            width: 32rem;
        }
    }
    .pokeName {
        color: whitesmoke;
        text-align: center;
        h1 {
            text-decoration: underline;
        }
        h1::first-letter {
            text-transform: capitalize;
        }
    }
}
.pokemon:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#popUpPokemon {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.718);
    height: 100dvh;
    width: 100dvw;
    z-index: 100;
}
.popUpInfoPokemon {
    display: flex;
    position: fixed;
    height: 80rem;
    width: 120rem;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    .buttonsForPopUp {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0rem;
        gap: 4rem;
        button {
            border-radius: 10px;
            height: 5rem;
            width: 12rem;
            font-size: 20px;
        }
    }
    .popUpImage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        img {
            height: 45rem;
        }
    }

    .ability {
        font-size: 3rem;
        width: 60%;
    }

    .statsOfthePokemon {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        h2 {
            padding: 0rem 4rem;
            display: flex;
            justify-content: space-between;
            font-size: 40px;
        }
    }
}

.loadingPokemon {
    display: flex;
    align-items: center;
    height: 20dvh;
    button {
        cursor: pointer;
        font-size: 32px;
        border-radius: 15px;
        height: 8rem;
        width: 20rem;
    }
}
